.wrapper {
   margin-top: auto;
   display: block;
   background-color: #e8e0fe;
   min-width: 300px;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   -webkit-box-shadow: 0 5px 9px -6px #171717;
   -moz-box-shadow: 0 5px 9px -6px #171717;
   box-shadow: 0 5px 9px -6px #171717;
   position: relative;
}

.addInput {
   border: none;
   width: 90%;
   background-color: #e8e0fe;
   padding: 0 1rem;

   &:active {
      outline: 0;
      outline-offset: 0;
      background-color: transparent !important;
   }

   &:focus {
      outline: 0;
      background-color: transparent !important;
      outline-offset: 0;
   }
}

.addInput:-webkit-autofill:hover,
.addInput:-webkit-autofill:focus,
.addInput:-webkit-autofill,
.addInput:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-font-feature-settings: inherit;
}
